<ion-header>
  <ion-toolbar>
    <ion-title>Elementos de protección personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.price | currency }}</p>
        <ion-card-content>
          {{ product.description }}
        </ion-card-content>
      </ion-label>
      <ion-button (click)="addToCart(product)">Agregar al carrito</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

