<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><ion-card>
  <ion-card-content>

      
    
    <ion-input label="usuario" [(ngModel)]="inputValue" labelPlacement="stacked" placeholder="Ingrese usuario"   ></ion-input>
    <ion-input label="Password"  [(ngModel)]="inputValue2"  labelPlacement="stacked" placeholder="Ingrese contraseña" type="Password"  ></ion-input>
    <ion-button color="secondary" (click)="Ingresar()" size="default" [disabled]="!inputValue || !inputValue2">Ingresar</ion-button> 

    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
  
  
  </ion-card-content>
</ion-card></ion-content> 




