
<ion-content [fullscreen]="true">
  <ion-card-content>

    <ion-button (click)="Iraherramientas()" >Herramientas manuales</ion-button>

    <ion-button (click)="Iraepp()" >EPP</ion-button>

    <ion-button (click)="Iramateriales()" >Materiales básicos</ion-button>
 
    <ion-button (click)="Iramedicion()" >Equipo de medición</ion-button>

    <ion-button (click)="Iratornillos()" >Tornillos y fijaciones</ion-button>

    <ion-button (click)="Iraingreso()" >Ingreso</ion-button>

    <ion-button (click)="Iracarrito()" >Carrito</ion-button>

    
  </ion-card-content>

  <ion-card>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmq-8bB6LONzrMn5nTFdaT0EARwio0Q7EmVw&s" />
    <ion-card-header>
      <ion-card-title>Bienvenidos a Ferramas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Quienes somos?</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contactanos</ion-card-title>
      <ion-card-subtitle>Información de contacto</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>




</ion-content>