<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><ion-card>
  <ion-card-content>

      
    
    <ion-input label="Usuario"  labelPlacement="stacked" placeholder="Ingrese nombre de usuario"   ></ion-input>
    <ion-input label="Password"   labelPlacement="stacked" placeholder="Ingrese contraseña" type="Password"  ></ion-input>
    <ion-input label="Correo electronico"  labelPlacement="stacked" placeholder="Ingrese correo electronico"   ></ion-input>
    <ion-button color="secondary" (click)="Irahome()" size="default">Registrar</ion-button> 
  
  
  </ion-card-content>
</ion-card></ion-content>

